<div class="flex items-center justify-center min-h-screen py-8 px-4 md:px-5 lg:px-5">
    <div class="w-full  mx-auto text-center">
        <h2 class="font-manrope font-bold text-4xl leading-10 mb-4 text-black">
            Page Not Found
        </h2>
    </div>
</div>