<div class="homepage">
  <h1>Welcome to our shop </h1>
  <p>{% render 'homepage-text' %}</p>

</div>
{% schema %}
{
"name": "",
"settings": [
{
"type": "text",
"id": "heading",
"label": "Section Heading",
"default": "Welcome to Our Store"
},
{
"type": "textarea",
"id": "content",
"label": "Section Content",
"default": "This is a custom section that you can edit in the theme editor."
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
],
"presets": [
{
"name": "Homepagesection",
"category": "text"
}
]


}
{% endschema %}

<section class="custom-section">
  <h2>{{ section.settings.heading }}</h2>
  <p>{{ section.settings.content }}</p>
  {% if section.settings.image %}
  <img src="{{ section.settings.image | img_url: 'medium' }}" alt="{{ section.settings.heading }}">
  {% endif %}
</section>